<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="app.galaxyvitals.wear.debug.DebugReplayControlReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.galaxyvitals.DEBUG_ECG_REPLAY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
